@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik+Mono+One&display=swap');

.blog {
    background-color: #e3f2fd;
    padding: 50px;
}
h1 {
    font-family: 'Rubik Mono One', sans-serif;
}
p {
    font-family: 'Karla', sans-serif;
}
.blog .title {
    margin-bottom: 20px;
}
.blog .title .search input {
    margin-right: 10px;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px;
}
.blog .title .search button {
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.blog .title .search button i {
    margin-right: 8px;
}
.blog .highlight-blog .row {
    margin-bottom: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}